body {
    font-family: Arial, sans-serif;
    background-color: #918282;
    margin: 0;
    padding: 0;
}

center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #060606;
}

hr {
    width: 50%;
    margin: 20px 0;
    border: 3px solid #111218;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}